<h1>Works</h1>
<h2>The three periods</h2>
<p>The historian William Drabkin notes that as early as 1818 a writer had proposed a three-period division of Beethoven's works and that such a division (albeit
  often adopting different dates or works to denote changes in period) eventually became a convention adopted by all of Beethoven's biographers, starting with
  Schindler, F.-J. Fétis and Wilhelm von Lenz. Later writers sought to identify sub-periods within this generally accepted structure. Its drawbacks include that
  it generally omits a fourth period, that is, the early years in Bonn, whose works are less often considered; and that it ignores the differential development
  of Beethoven's composing styles over the years for different categories of work. The piano sonatas, for example, were written throughout Beethoven's life in a
  progression that can be interpreted as continuous development; the symphonies do not all demonstrate linear progress; of all of the types of composition,
  perhaps the quartets, which seem to group themselves in three periods (Op. 18 in 1801–1802, Opp. 59, 74 and 95 in 1806–1814, and the quartets, today known as
  'late', from 1824 onwards) fit this categorization most neatly. Drabkin concludes that "now that we have lived with them so long ... as long as there are
  programme notes, essays written to accompany recordings, and all-Beethoven recitals, it is hard to imagine us ever giving up the notion of discrete stylistic
  periods."[</p>
<h2>Bonn 1782-1792</h2>
<p>Some forty compositions, including ten very early works written by Beethoven up to 1785, survive from the years that Beethoven lived in Bonn. It has been
  suggested that Beethoven largely abandoned composition between 1785 and 1790, possibly as a result of negative critical reaction to his first published works.
  A 1784 review in Johann Nikolaus Forkel's influential Musikalischer Almanack compared Beethoven's efforts to those of rank beginners.[189] The three early
  piano quartets of 1785 (WoO 36), closely modelled on violin sonatas of Mozart, show his dependency on the music of the period. Beethoven himself was not to
  give any of the Bonn works an opus number, save for those which he reworked for use later in his career, for example, some of the songs in his Op. 52
  collection (1805) and the Wind Octet reworked in Vienna in 1793 to become his String Quintet, Op. 4.[190][191] Charles Rosen points out that Bonn was
  something of a backwater compared to Vienna; Beethoven was unlikely to be acquainted with the mature works of Haydn or Mozart, and Rosen opines that his early
  style was closer to that of Hummel or Muzio Clementi.[192] Kernan suggests that at this stage Beethoven was not especially notable for his works in sonata
  style, but more for his vocal music; his move to Vienna in 1792 set him on the path to develop the music in the genres he became known for.[190]</p>
<h2>The first period
</h2>
<p>The conventional first period begins after Beethoven's arrival in Vienna in 1792. In the first few years he seems to have composed less than he did at Bonn,
  and his Piano Trios, op.1 were not published until 1795. From this point onward, he had mastered the 'Viennese style' (best known today from Haydn and Mozart)
  and was making the style his own. His works from 1795 to 1800 are larger in scale than was the norm (writing sonatas in four movements, not three, for
  instance); typically he uses a scherzo rather than a minuet and trio; and his music often includes dramatic, even sometimes over-the-top, uses of extreme
  dynamics and tempi and chromatic harmony. It was this that led Haydn to believe the third trio of Op.1 was too difficult for an audience to appreciate.[193]
  He also explored new directions and gradually expanded the scope and ambition of his work. Some important pieces from the early period are the first and
  second symphonies, the set of six string quartets Opus 18, the first two piano concertos, and the first dozen or so piano sonatas, including the famous
  Pathétique sonata, Op. 13.</p>
<h2>The Middle period</h2>
<p>His middle period began shortly after the personal crisis brought on by his recognition of encroaching deafness. It includes large-scale works that express
  heroism and struggle. Middle-period works include six symphonies (Nos. 3–8), the last two piano concertos, the Triple Concerto and violin concerto, five
  string quartets (Nos. 7–11), several piano sonatas (including the Waldstein and Appassionata sonatas), the Kreutzer violin sonata and his only opera, Fidelio.
  This period is sometimes associated with a heroic manner of composing,[194] but the use of the term "heroic" has become increasingly controversial in
  Beethoven scholarship. The term is more frequently used as an alternative name for the middle period.[195] The appropriateness of the term heroic to describe
  the whole middle period has been questioned as well: while some works, like the Third and Fifth Symphonies, are easy to describe as heroic, many others, like
  his Symphony No. 6, Pastoral or his Piano Sonata No. 24, are not.[196]</p>

<h2>The late period</h2>
<p>Beethoven's late period began in the decade 1810-1819.[197] He began a renewed study of older music, including works by Palestrina, Johann Sebastian Bach,
  and George Frideric Handel, whom Beethoven considered "the greatest composer who ever lived".[198] Beethoven's late works incorporated polyphony and
  Baroque-era devices.[199] For example, the overture The Consecration of the House (1822) included a fugue influenced by Handel's music.[200] A new style
  emerged, as he returned to the keyboard to compose his first piano sonatas in almost a decade; the works of the late period include the last five piano
  sonatas and the Diabelli Variations, the last two sonatas for cello and piano, the late string quartets (including the massive Große Fuge), and two works for
  very large forces: the Missa solemnis and the Ninth Symphony.[201][202] Works from this period are characterised by their intellectual depth, their formal
  innovations, and their intense, highly personal expression. The String Quartet, Op. 131 has seven linked movements, and the Ninth Symphony adds choral forces
  to the orchestra in the last movement.[203]

</p>
<h2>Pianos</h2>
<p>Beethoven's earlier preferred pianos included those of Johann Andreas Stein; he may have been given a Stein piano by Count Waldstein.[204] From 1786 onwards
  there is evidence of Beethoven's cooperation with Johann Andreas Streicher, who had married Stein's daughter Nannette. Streicher left Stein's business to set
  up his own firm in 1803, and Beethoven continued to admire his products, writing to him in 1817 of his "special preference" for his pianos.[204] Amongst the
  other pianos Beethoven possessed was an Érard piano given to him by the manufacturer in 1803.[205] The Érard piano, with its exceptional resonance, may have
  influenced Beethoven's piano style – shortly after receiving it he began writing his Waldstein Sonata[206] – but despite initial enthusiasm he seems to have
  abandoned it before 1810, when he wrote that it was "simply not of any use any more"; in 1824 he gave it to his brother Johann.[206][n 15] In 1818 Beethoven
  received, also as gift, a grand piano by John Broadwood & Sons. Although Beethoven was proud to receive it, he seems to have been dissatisfied by its tone (a
  dissatisfaction which was perhaps also a consequence of his increasing deafness), and sought to get it remodelled to make it louder.[208][n 16] In 1825
  Beethoven commissioned a piano from Conrad Graf, which was equipped with quadruple strings and a special resonator to make it audible to him, but which failed
  in this task.[210][n 17]

</p>